// Variables
$fontSizeDefault: 16px;
$minWidth: 768px;

// Sizes
$heightHeader: 54px;
$heightHeaderLarge: 72px;
$rhythm: 18px;

// $colorPrimary: #78c02c; Orig green
// $colorPrimary: #98df4d; Brighter Green
$colorPrimary: #3cc568;
$colorBorder: #ccc;
$sizeSiteWidth: 1200px;

@mixin border{
  border: 1px solid $colorBorder;
}

// Mixins
@mixin font-size($size: $fontSizeDefault){
  font-size: $size;
  font-size: ($size/$fontSizeDefault) * 1rem;
}

@mixin self-clear(){
  &:before, &:after{
    content: "";
    display: table;
  }
  &:after{
    clear: both;
  }
}

@mixin border-box(){
  @include box-sizing(border-box);
}

// Grid Mixins
@mixin grid($totalColumns: 5, $class: "small"){
  @for $i from 1 through $totalColumns{
    .#{$class}-#{$i} {
      width: ($i / $totalColumns) * 100%;
    }
  }
  .#{$class}-full{
    width: 100%;
  }
}