body {
  margin-top: $heightHeader;
}

.row{
  margin-bottom: $sizeGutter;
}

.columns, .column{
  @include box-sizing(border-box);
  display: block;
  float: left;
  padding: 0 10px;
  margin: 0 0 $sizeGutter;
}

@include grid();