// Define the keyframes first
@include keyframes(greetings) {
  0% {
    opacity: 0;
    top: 40px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}


// Define the elements to be animated
.animate-hp-splash{
  @include animation(greetings .7s cubic-bezier(0.4,0,0.4,1) 1 both .5s);
  position: relative;
}
