// General Styles
html, body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $fontSizeDefault;
  font-weight: 300;
  line-height: $rhythm;
}

body{
  background: #fff;
  text-rendering: optimizeLegibility;
}

h1{
  @include font-size($rhythm * 2);
  line-height: 1;
  margin-bottom: $rhythm;
}


h2{
  @include font-size($rhythm * 1.5);
  font-weight: 700;
  line-height: 1;
  margin-bottom: $rhythm;
}

h3{
  @include font-size($rhythm * 1.25);
  font-weight: 700;
  line-height: ($rhythm * 1.5);
}

li{
  margin: $rhythm 0;
}

ol{
  list-style: decimal outside;
}

ul{
  list-style: disc outside;
}

ol, ul{
  margin: 0 0 $rhythm (1em * 1.5);
}

p{
  line-height: $rhythm * 1.5;
  margin: 0 0 $rhythm;
}

b, strong{
  font-weight: 700;
}

i, em{
  font-style: oblique;
}

pre{
  @include border;
  box-sizing: border-box;
}

.opaque-background{
  background: #fff;
}

.transparent-background{
  color: #fff;
}

[hidden], .is-hidden{
  display: none !important;
}

a{
  color: rgb(0, 173, 239);
  text-decoration: none;

  &:hover, &:focus{
    text-decoration: underline;
  }
}

.small-print{
  color: #777;
  @include font-size(12px);
  font-weight: 400;
}

/**
 * Goal Area
 */
.goal-area{
  margin-top: 60px;
}

.goal-area-content-wrap{
  background: rgba(0,0,0,.3);
  text-shadow: rgba(0,0,0,.5) 1px 1px 4px;
  box-shadow: rgba(0,0,0,.25) 0 0 400px inset;
  overflow: hidden;
  position: relative;
  z-index: 99;
}
.goal-area-content-wrap, .goal-area-background{
  height: 620px;
}

.goal-area-background{
  background: #000;
  position: fixed;
  min-width: $minWidth;
  width: 100%;
  z-index: -99;
}

// Content wrapper
.content-wrap{
  background: $colorBg;
  @include self-clear;
  padding-top: $rhythm;

  @include media($screenLarge){
    min-height: 450px;
  }
}
