/**
 * Buttons
 */
button, .button, .buttons{
  background: darken($colorBorder, 15%);
  border: darken($colorBorder, 20%);
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  @include font-size(18px);
  font-weight: 300;
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
  text-shadow: rgba(0,0,0,.5) 0px -1px 1px;
  transition: all .2s ease-in-out;
  -webkit-appearance: none;

  &:hover, &:focus{
    background: darken($colorBorder, 10%);
    text-decoration: none;
  }

  &.large{
    height: 44px;
    line-height: 44px;
  }

  &.primary{
    background: darken($colorPrimary, 5%);
    border: darken($colorPrimary, 10%);

    &:hover, &:focus{
      background: lighten($colorPrimary, 5%);
      text-decoration: none;
    }
  }

  &.cancel{
    background: none;
    border-bottom: 1px dotted darken($colorBorder, 10%);
    border-radius: 0;
    color: inherit;
    text-shadow: none;
    padding-left: 0;
    padding-right: 0;

    &:hover, &:focus{
      background: none;
      border-color: #000;
    }
  }

  &.is-disabled{
    color: lighten($colorPrimary, 20%);

    &:hover, &:focus{
      background: darken($colorPrimary, 5%);
      cursor: default;
    }
  }
}
