/**
 * Site Header & Footer
 */
#primary-header{
  @include border-box;
  box-shadow: rgba(0,0,0,.3) 1px 0 2px;
  padding: 20px 0 10px;
  top: 0;
  width: 100%;
  z-index: 999;

  .clearfix{
    position: relative;
  }

  .columns, .column{
    margin: 0 !important;
  }

  @include media($screenLarge){
    background: none;
    box-shadow: none;
    margin-bottom: -80px;
    position: relative;
    z-index: 9;
  }
}


/**
 * Navigation
 */
.primary-navigation{
  display: inline;
  margin-left: 10px;

  a{
    color: $colorText;
    display: inline-block;
    @include font-size(13px);
    font-weight: 700;
    line-height: 36px;
    position: relative;
    top: -6px;
    text-transform: capitalize;

    &:hover, &:focus{
      color: $colorPrimaryButton;
      text-decoration: none;
    }

    @include media($screenLarge){
      color: #fff;
      top: -8px;
    }
  }

  .button{
    color: #fff;
    font-weight: 300;
    height: 36px;

    @include media($screenLarge){
      position: absolute;
      top: -2px;
      right: 10px;
    }
  }

  .nav-list{
    display: inline;
    margin: 0;
  }
}

.nav-list li{
  display: inline-block;
  margin: 0;
  padding: 0 10px;

  &:last-child{
    padding-right: 0;
  }
}

/**
 * Branding (temp)
 */
.branding{
  display: inline;
  @include font-size(28px);

  @include media($screenLarge){
    @include font-size(36px);
  }
}

.logo{
  color: $colorPrimary;
  font-weight: 700;
  transition: color .2s ease-in-out;

  &:hover, &:focus{
    color: lighten($colorPrimary, 10%);
    text-decoration: none;
    outline: none;
  }

  @include media($screenLarge){
    color: #fff;
  }
}
.tagline{
  display: none;

  @include media($screenLarge){
    display: inline;
    color: #aaa;
    @include font-size(16px);
    vertical-align: 40%;
  }
}
