.index .content-wrap{
  .backstretch{
    display: none;
    @include media($screenLarge){
      display: block;
    }
  }

  @include media($screenLarge){
    background: #000 url(/images/homepage-background/climbing.jpg);
    box-sizing: border-box;
    background: #000;
    padding-top: $rhythm * 4;
    padding-bottom: 150px;
  }
}
.homepage-content{
  @include media($screenLarge){
    color: #fff;
    text-shadow: rgba(0,0,0,.5) 0 0 5px;
  }

  .button{
    min-width: 50%;
  }
}

.homepage-cta{
  margin-top: $rhythm * 2;
  text-align: center;
}
