@include media($screenLarge){
  .index .content-wrap{
    background: none;
    padding-top: 0;
  }
}

.splash-area{
  .backstretch{
    display: none;
    @include media($screenLarge){
      display: block;
    }
  }

  @include media($screenLarge){
    background: #000 url(/images/homepage-background/climbing.jpg) no-repeat center center;
    background-size: 100% auto;
    @include border-box;
    min-height: 600px;
    padding-top: $rhythm * 4;
    padding-bottom: $rhythm * 2;
    position: relative;
  }
}

.video-container{
  height: 140px;
  margin: ($rhythm * 4) auto 0 auto;
  max-width: 250px;

  img{
    height: 100%;
    width: 100%;
  }
}

.homepage-headline{
  @include font-size($rhythm * 1.75);
  font-weight: 700;
  line-height: $rhythm * 2;
  color: inherit;
  text-align: center;

  @include media($screenLarge){
    color: #fff;
    @include font-size($rhythm * 2.25);
    font-weight: 300;
    line-height: $rhythm * 3;
    margin-top: $rhythm * 3;
  }
}

.cta-area{
  padding-top: $rhythm * 2;
  text-align: center;
}

.cta-text{
  @include font-size($rhythm * 1);
}

.cta-headline{
  @include font-size($rhythm * 1.1);
  font-weight: 700;
  line-height: $rhythm * 1.5;
  margin-top: $rhythm * 2;
  text-align: center;
}

.button.cta-button{
  @include box-sizing(border-box);
  height: 60px;
  line-height: 60px;
  margin-top: $rhythm;
  max-width: 400px;
  text-transform: capitalize;
  width: 100%;
}

.index .site-footer{
  border: none;
}
