.index .content-wrap{
  .backstretch{
    display: none;
    @include media($screenLarge){
      display: block;
    }
  }

  @include media($screenLarge){
    background: #000 url(/images/homepage-background/climbing.jpg) no-repeat center center;
    background-size: 100% auto;
    box-sizing: border-box;
    padding-top: $rhythm * 4;
    padding-bottom: 150px;
    position: relative;
  }
}
.homepage-content{
  @include media($screenLarge){
    box-sizing: border-box;
    color: #fff;
    text-shadow: rgba(0,0,0,.5) 0 0 5px;
    transition: height .2s ease-in-out;

    @media screen and (min-height: 900px){
      min-height: 575px;
      padding-top: 100px;

      .homepage-headline{
        @include font-size($rhythm * 3);

        br{
          display: none;
        }
      }
    }

    @media screen and (min-height: 1024px){
      min-height: 675px;
      padding-top: 175px;
    }
    @media screen and (min-height: 1300px){
      min-height: 875px;
      padding-top: 250px;
    }
  }

  .button{
    min-width: 50%;
  }
}

.homepage-cta{
  margin-top: $rhythm * 2;
  text-align: center;
}
