.quote-wrap{
  @include media($screenLarge){
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}

.goal-quote-container{
  @include media($screenLarge){
    color: #fff;
    color: rgba(255,255,255,.8);
    @include font-size(12px);
    text-align: right;
    line-height: $rhythm * 1;
  }
}
.goal-quote, .goal-quote-cite{
  display: block;
}
.goal-quote{
  &:before{
    content: "\201C";
  }
  &:after{
    content: "\201D";
  }
}

.goal-quote-cite{
  text-transform: capitalize;
}
