.quote-wrap{
  display: none;
  @include media($screenLarge){
    display: block;
    @include box-sizing(border-box);
    bottom: 0;
    padding-right: $rhythm;
    position: absolute;
    width: 100%;
  }
}

.goal-quote-container{
  @include media($screenLarge){
    color: #fff;
    @include font-size(12px);
    text-align: right;
    line-height: $rhythm * 1;
  }
}
.goal-quote, .goal-quote-cite{
  display: block;
}
.goal-quote{
  font-weight: 700;
  &:before{
    content: "\201C";
  }
  &:after{
    content: "\201D";
  }
}

.goal-quote-cite{
  text-transform: capitalize;
}
