body {
  margin-top: $heightHeader;
}

.row, .clearfix{
  margin: 0 auto $sizeGutter;
  max-width: $maxScreenWidth;
  @include self-clear;
}

.columns, .column{
  @include border-box;
  display: block;
  float: left;
  padding: 0 10px;
  margin: 0 0 $sizeGutter;
}

.reverse .columns, .reverse .column{
  float: right;
}

@include grid(5, "small");

@include media($screenLarge){
  @include grid(12, "large");

  .large-centered{
    float: none;
    margin: 0 auto;
    width: 50%;
  }
}
