<header id="primary-header" class="opaque-background">
  <div class="clearfix">
    <div class="small-3 large-6 columns">
      <h1 class="branding"><a href="/" class="logo">VOXi</a> <span class="tagline">Live more life</span></h1>
    </div>
    <nav class="site-navigation small-2 large-6 columns">
      <a href="http://blog.voxi.co">Blog &rarr;</a>
    </nav>
  </div>
</header>
