<header id="primary-header" class="opaque-background">
  <div class="clearfix">
    <div class="small-full large-full columns">
      <h1 class="branding"><a href="/" class="logo">VOXi</a></h1>
      <nav class="primary-navigation">
        <ul class="nav-list">
          <li><a href="/subscribe" class="primary button">Share&nbsp;your&nbsp;dream</a></li>
          <li><a href="http://blog.voxi.co">Blog</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
