<footer id="site-footer" class="site-footer opaque-background content-section">
  <div class="row reverse">
    <div class="small-full large-6 columns">
      <!-- AddThis Follow BEGIN -->
      <div class="addThis-footer addthis_toolbox addthis_32x32_style addthis_default_style">
        <a class="addthis_button_facebook_follow" addthis:userid="myvoxi"></a>
        <a class="addthis_button_twitter_follow" addthis:userid="MyVOXi"></a>
        <a class="addthis_button_google_follow" addthis:userid="105710479520284969656"></a>
      </div>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-52b5fe285ff94806"></script>
      <!-- AddThis Follow END -->
    </div>
    <div class="small-full large-6 columns">
      <p class="small-print">Copyright &copy; <%= Time.now.year %>, VOXi LLC | <%= link_to "Privacy&nbsp;Policy", "/legal/privacy-policy.html" %> | <a href="/contact-us">Contact&nbsp;Us</a></p>
    </div>
  </div>
</footer>
<%= javascript_include_tag  "scripts" %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44824572-1', 'voxi.co');
  ga('send', 'pageview');
</script>
