<footer id="site-footer" class="site-footer opaque-background content-section">
  <div class="row">
    <div class="column">
      <p class="small-print">Copyright &copy; <%= Time.now.year %>, VOXi LLC | <a href="/legal/privacy-policy">Privacy Policy</a></p>
    </div>
  </div>
</footer>
<%= javascript_include_tag  "all" %>
