<header id="primary-header" class="opaque-background">
  <div class="row">
    <div class="small-full large-full column">
      <h1 class="branding"><a href="/" class="logo">VOXi</a> <span class="tagline">Live more life</span></h1>
    </div>
  </div>
</header>