---
layout: forms
title: Thank you
---

<h1>Thank you for sharing your dream.</h1>

<p>Dreams are better when they are shared. Please take a moment to invite your friends to share their dreams.</p>


<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count" addthis:url="http://voxi.co" addthis:title="Let's create a community where your dreams become reality." addthis:description="VOXi is a community of people sharing and achieving their dreams while helping others do the same. We want to remove the obstacles that stand between you and your dreams – cost, time, knowledge and fear."></a>
<a class="addthis_button_tweet" addthis:url="http://voxi.co" addthis:title="Let's create a community where your dreams become reality. @MyVOXi"></a>
<a class="addthis_button_google_plusone" g:plusone:size="medium" addthis:url="http://voxi.co" addthis:title="Let's create a community where your dreams become reality." addthis:description="VOXi is a community of people sharing and achieving their dreams while helping others do the same. We want to remove the obstacles that stand between you and your dreams – cost, time, knowledge and fear."></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52f1842c15d401d6"></script>
<!-- AddThis Button END -->


<p class="home-james"><%= link_to "« back to the homepage", "index" %></p>
