---

---
<div class="splash-area">
  <div class="container animate-hp-splash">
    <div class="row">
      <div class="small-full large-full columns">
        <h1 class="homepage-headline">Accomplishing your dreams is&nbsp;hard.<br class="mobile-hide">
  Doing it by yourself is&nbsp;harder.</h1>

        <div class="video-container">
          <%= image_tag 'placeholder.svg', width: false, height: false %>
        </div>
      </div>
    </div>
  </div>
  <div class="container quote-wrap">
    <div class="row">
      <blockquote class="goal-quote-container">
        <q class="goal-quote">Track wild lemurs in Madagascar</q>
        <cite class="goal-quote-cite">Carolyn C, Chicago IL</cite>
      </blockquote>
    </div>
  </div>
</div>

<div class="container cta-area">
  <div class="row">
    <div class="small-full large-centered columns">
      <p class="cta-text">VOXi is a community of people sharing and achieving their dreams while helping others do the same. We want to remove the obstacles that stand between you and your dreams – cost, time, knowledge and&nbsp;fear.</p>
      <h3 class="cta-headline">Let&rsquo;s create a community where your dreams become&nbsp;reality.</h3>
      <p><a href="/surveys/goals-and-aspirations-survey/?ref=cta" class="large primary button cta-button">Share your dream</a></p>
    </div>
  </div>
</div>
