---

---
<section class="row homepage-content">
  <div class="small-full large-6 columns">
    <h1>Accomplishing your dreams is hard.<br class="mobile-hide">
    Doing it by yourself is harder.</h1>
    <p>VOXi is a community of people sharing and achieving their dreams while helping others do the same. We want to remove the obstacles that stand between you and your dreams – cost, time, knowledge, and fear.</p>
    <h3>Let's build a place where where dreams are reality.</h3>
    <div class="homepage-cta"><a href="" class="large primary button">Sign up for updates</a></div>
  </div>
</section>

  <div class="quotes-wrap">
    <div class="quotes-inner-wrap">
      <ul class="goal-quotes list">
        <li class="current">
          <blockquote class="goal-quote">
            <footer class="quote-footer">
              <img src="images/profile-placholder.jpg" class="quote-image">
              <p class="quote-source">Max C<br>
              Chicago, IL</p>
            </footer>
            <div class="quote-content">
              I want to see the sunset from the top of Mount Fuji!
            </div>
          </blockquote>
        </li>
        <li class="">
          <blockquote class="goal-quote">
            <footer class="quote-footer">
              <img src="images/profile-placholder.jpg" class="quote-image">
              <p class="quote-source">Max C<br>
              Chicago, IL</p>
            </footer>
            <div class="quote-content">
              I want to see the sunset from the top of Mount Fuji! A lot more text just for testing purposes. I need this one to be a lot of lines.
            </div>
          </blockquote>
        </li>
      </ul>
    </div>
  </div>
